# =========================
# Operating System Files
# =========================

# OSX
# =========================

*.swp
*~
.AppleDouble
.DS_Store
.LSOverride
._*
~$*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.fseventsd

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# ignore files
# =========================

__pycache__/
config/pet/snippet.toml
config/OpenMV/
gnupg/random_seed
vnc/*.log
vnc/*.pid

# EOF

